.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #102737;
    color: white;
    text-align: center;
}

.footer a {
    color: rgb(58, 130, 65);
    text-decoration: none;
}